<h1>Ma liste d'article</h1>
<%@articles.each do |article|%>
    <p><%= article.title%></p>
    <%end%>
 <%= form_tag "/article", method: "post" do %>
        <input type="text" name="title" />
        <input type="submit" value="Ajouter un article" />
      <% end %>

