
<h1><%= @article.title %></h1>

<%= form_tag "/article/#{@article.id}", method: "patch" do %>
<input type="text" name="title" value="<%= @article.title %>" />
    <input type="submit" value="Modifier le titre" />
  <% end %>
<p><a href="/article">Retourner à l’index</a></p>