<h1>Bienvenue</h1>

<p>Ceci est un test <%=@test%>.</p>
<% if @var == 5 %>
    le test est bon
<% else %>
    ce n'est pas ce que vous voulez
    <%end%>

<% @test.times do |i| %>
  <p> hello <%= i %> </p>
    <%end%>
